PORT=5001
MONGODB_URL=mongodb+srv://dreamadmin:Aashu2102@aadreamwave.fh06ya6.mongodb.net/?appName=AaDreamWave
JWT_SECRET=dreamwave_secret
OPENAI_API_KEY=your_openai_key_here
CLIENT_URL=http://localhost:5173
