PORT=5000
MONGODB_URL=mongodb+srv://dreamadmin:Aashu2102@aadreamwave.fh06ya6.mongodb.net/?retryWrites=true&w=majority&appName=AaDreamWave
JWT_SECRET=dreamwave_secret
OPENAI_API_KEY=your_key
CLIENT_URL=http://localhost:5173
